machine:
  network:
    hostname: talos-marsmaster-02
    interfaces:
      - deviceSelector:
          hardwareAddr: 6c:4b:90:4f:bd:44
        addresses:
          - 10.10.5.172/21
        routes:
          - network: 0.0.0.0/0
            gateway: 10.10.0.1
        mtu: 1500
        dhcp: false
        vip:
          ip: 10.10.5.200
    nameservers:
      - 1.1.1.1
      - 1.0.0.1
    disableSearchDomain: true
  install:
    disk: /dev/sdb
    image: factory.talos.dev/installer/e048aaf4461ff9f9576c9a42f760f2fef566559bd4933f322853ac291e46f238:{{ ENV.TALOS_VERSION }}
