---
machine:
  disks:
    - device: /dev/disk/by-id/nvme-CT1000P3PSSD8_25014D60E51E
      partitions: [{ mountpoint: /var/mnt/extra }]
  install:
    diskSelector:
      serial: 25014D60E51E
  network:
    hostname: k8s-tslamarsmaster-01
    interfaces:
      - deviceSelector:
          hardwareAddr: 58:47:ca:7b:f4:24
          driver: igc
        mtu: 1500
        dhcp: true
        vip:
          ip: 10.10.5.200