---
machine:
  disks:
    - device: /dev/disk/by-id/nvme-CT1000P3PSSD8_24514D235ECB
      partitions: [{ mountpoint: /var/mnt/extra }]
  install:
    diskSelector:
      serial: 24514D235ECB
  network:
    hostname: k8s-tslamarsmaster-00
    interfaces:
      - deviceSelector:
          hardwareAddr: 58:47:ca:7b:ec:1c
          driver: igc
        mtu: 1500
        dhcp: true
        vip:
          ip: 10.10.5.200