---
machine:
  disks:
    - device: /dev/disk/by-id/nvme-CT1000P3PSSD8_24514D235ECB
      partitions: [{ mountpoint: /var/mnt/extra }]
  install:
    diskSelector:
      serial: 24514D235ECB
  network:
    hostname: k8s-tslamarsmaster-00
