---
machine:
  disks:
    - device: /dev/disk/by-id/nvme-CT1000P3PSSD8_25014D60E51E
      partitions: [{ mountpoint: /var/mnt/extra }]
  install:
    diskSelector:
      serial: 25014D60E51E
  network:
    hostname: k8s-tslamarsmaster-01
