---
machine:
  disks:
    - device: /dev/disk/by-id/nvme-CT1000P3PSSD8_24514D121897
      partitions: [{ mountpoint: /var/mnt/extra }]
  install:
    diskSelector:
      serial: 24514D121897
  network:
    hostname: k8s-tslamarsmaster-02
    interfaces:
      - deviceSelector:
          hardwareAddr: 58:47:ca:7b:ec:1c
          driver: igc
        mtu: 1500
        dhcp: true
        vip:
          ip: 10.10.5.200
      - # m0
        deviceSelector: { busPath: 0-1.0 }
        dhcp: false
        mtu: 65520
        addresses: [169.254.255.12/32]
        routes: [{ network: 169.254.255.10/32, metric: 2048 }]
      - # m1
        deviceSelector: { busPath: 1-1.0 }
        dhcp: false
        mtu: 65520
        addresses: [169.254.255.12/32]
        routes: [{ network: 169.254.255.11/32, metric: 2048 }]